body{
background-color:#030712;
color:white;
}

.stApp{
background:linear-gradient(
135deg,
#020617,
#111827,
#0f172a
);
}

h1,h2,h3{

color:#00ffcc;

text-shadow:
0px 0px 10px #00ffcc;
}

.stButton button{

background:#00ffcc;

color:black;

border-radius:10px;

font-weight:bold;
}
